.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}
.box {
  background-color: blue;
}

.the-name{
  color: whitesmoke;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282828;
}

.photo {
  height: 300px;
}
.App-link {
  color: #61dafb;
}

.column {
  float: left;
  width: 33.33%;
}

.twoCol {
  float: left;
  width: 50%;
  height: 300px;
  margin-top: 2px;
}

.bio{
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .column, .twoCol {
    width: 100%;
  }

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-text{
  text-align: center;
  font-size: 25px;
}

.rain-button{
  display: inline-block;
  background: black;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  font-size: .95rem;
  font-family: sans-serif;
  padding: .5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 0px;
  vertical-align: center;
}

.nav-divider{
  height: 100px;
}

.topnav {
    overflow: hidden;
    background-color: #282828;
    height: 50px;
    width: 100%;
    border-bottom:1px solid black;
    top:0;
    position: fixed;
    text-align: center;
}

.about-paragraph{
  padding-left: 20px;
  padding-right: 20px;
  color: whitesmoke;
}
.footer{
  height: 50px;
  background-color: #282828;
  width: 100%;
}
.topnav-name{
  color:whitesmoke;
  margin-right: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.header-text {
  text-align: center;
  overflow: hidden;
  vertical-align: center;
}

.row {
  text-align: center;
  margin: auto;
}

.about-container{
  width: 60%;
  text-align: center;
  margin: auto;
  background-color: #c0c0c0;
  padding: 15px;
  margin-top: 50px;
  border-radius: 25px;
}

.about-wrapper {
  width: 90%;
}
.about-divider {
  height: 150px;
}
.about-divider-top {
  height: 50px;
}


/* Style the links inside the navigation bar */

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #282828;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: #282828;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bio{
  background-color: #282828;
  color: whitesmoke;
  margin-top: 3px;
  height: 300px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .bio{
    background-color: #282828;
    color: lightwhitesmoke;
    padding-top: 25px;
    height: 300px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
}



/* About me sections */
.about-me {
  width: 100%;
  margin: 15px;
}
.about-me h2{
  color: lightwhitesmoke;
  text-align: center;
  text-transform:uppercase;
}
