html {
 box-sizing: border-box;
 font-size: 16px;
}

*,
*:after,
*:before {
 box-sizing: border-box;
}

body {
 font: 100% 'Roboto', arial, sans-serif;
 background: #333;
}

form {
 padding: 2rem;
 margin-top: 2rem;
 margin-right: auto;
 margin-left: auto;
 max-width: 23.75rem;
 background-color: #282828;
 border-radius: 1px;
}

h1 {
 margin-top: 0;
 margin-bottom: 3.236rem;
 text-align: center;
 font-size: 1.618rem;
 color: whitesmoke;
}

label {
  color: whitesmoke;
}

.form-group {
 padding: 0;
 border: 0;
}

.form-group + .form-group {
 margin-top: 1rem;
}

button {
  display: inline-block;
  background: black;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  font-size: .95rem;
  font-family: sans-serif;
  padding: .5rem 1rem;
  text-decoration: none;
  border: none;
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

label {
 display: inline-block;
 margin-bottom: .5rem;
 font-size: .75rem;
 text-transform: uppercase;
 -ms-touch-action: manipulation;
 touch-action: manipulation;
}

input,
textarea {
 display: block;
 padding: .5rem .75rem;
 width: 100%;
 font-size: 1rem;
 line-height: 1.25;
 color: #55595c;
 background-color: #fff;
 background-image: none;
 background-clip: padding-box;
 border-top: 0;
 border-right: 0;
 border-bottom: 1px solid #eee;
 border-left: 0;
 border-radius: 3px;
 -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
 transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

textarea,
input[type] {
  background-color: #333;
  color: whitesmoke;
}


.form-divider {
  height: 50px;
}
